# See https://help.github.com/ignore-files/ for more about ignoring files.

/node_modules

.DS_Store


npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*

.idea/
.vercel
.next

/.next/

public/sw.js
public/sw.js.map
public/workbox*.js
public/workbox*.js.map

/locale



coverage
yarn.lock
package-lock.json
*.zip