.faucet-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    padding: 70px 0;
    overflow: hidden;
    position: relative;
    .dropdown-menu {
        color: rgba($white,0.85);
        background-color: $black;
        border: 1px solid rgba($black, 0.15);
        width: 100%;
        &:hover{
            box-shadow: none;
            border: 1px solid rgba($black, 0.15);
        }
        .dropdown-item{
            color: rgba($white,0.85);
            &:hover{
                background-color: $black3;
            }
        }
    }
    .form-group {
        margin-bottom: 30px;
    }
}
.left-shape {
    position: absolute;
    left: -230px;
    max-width: 420px;
    top: 40%;
    transform:rotate(-7deg);
    @media #{$max-xxxl}{
        top: 30%;
    }
    @media #{$max-xl}{
        max-width: 240px;
    }
    @media #{$max-lg}{
        max-width: 215px;
    }
    
    @media #{$max-sm}{
        display: none;
    }
}
.right-shape {
    position: absolute;
    max-width: 300px;
    right: -160px;
    top: 80%;
    transform: rotate(-10deg);
    @media #{$max-xxxl}{
        top: 60%;
    }
    @media #{$max-xl}{
        max-width: 240px;
    }
    @media #{$max-lg}{
        max-width: 215px;
    }
    @media #{$max-sm}{
        display: none;
    }
}