.banner-section{
    background: linear-gradient(180deg, #0D0A16 61.86%, #E48014 100%);
    .banner-row {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding-top:208px;
        padding-bottom: 111px;
        overflow: hidden;
        @media #{$max-xl}{
            padding-top: 150px;
        }
        @media #{$max-md}{
            flex-direction: column;
            padding-bottom: 0;
        }
        .banner-col-s {
            max-width: 525px;
            @media #{$max-xl}{
                max-width: 455px;
            }
            @media #{$max-md}{
                max-width: 100%;
                text-align: center;
            }
        }
        .banner-img {
            position: absolute;
            top: auto;
            right: -73px;
            bottom: -120px;
            @media #{$max-xl}{
                top: auto;
                right: -73px;
                bottom: -87px;
                max-width: 575px;
            }
            @media #{$max-lg}{
                bottom: -30px;
                max-width: 480px;
            }
            @media #{$max-md}{
                position: relative;
                right: auto;
                margin: 0 auto;
                bottom: -60px;
            }
        }
    }
    .banner-title {
        font-size: 40px;
        padding-right: 84px;
        @media #{$max-xl}{
            font-size: 36px;
        }
        @media #{$max-lg}{
            font-size: 34px;
        }
        @media #{$max-md}{
            font-size: 32px;
            padding-right: 0;
        }
        @media #{$max-sm}{
            font-size: 28px;
        }
    }
    .banner-desc {
        margin-bottom: 30px;
    }
    .banner-btn {
        display: flex;
        max-width: 400px;
        @media #{$max-xl}{
            max-width: 336px;
        }
        @media #{$max-md}{
            margin: 0 auto;
        }
        .btn-col {
            width: 100%;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    
}
// banner section closed
.content-block {
    background: $secondary-800;
    border-radius: 25px 25px 0px 0px;
    position: relative;
    margin-top: -21px;
    border-color:rgba($white,0.4);
    border: 1px solid;
    border-bottom-width:0;
}
.cus-row {
    margin-right: -10px;
    margin-left: -10px;
    .cus-col {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.ftrs-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ftrs-card {
    background:$secondary-800;
    box-shadow: 3px 4px 14px $secondary-800;
    border-radius: 25px;
    padding: 15px;
    border: 1px solid rgba($white,0.4);
    &.ftrs-active{
        background: rgba(242, 139, 3, 0.2);
        box-shadow: 3px 4px 14px #1C1B23;
        border: 1px solid;
        border-color:#F06500;
    }
}

.card-flex {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 40px;
    .icon-top {
        position: absolute;
        left: auto;
        right: 20px;
        top: 5px;
    }
}
.features-section{
    .cus-row {
        .cus-col {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 20px;
        }
    }
    .ftrs-icon {
        max-width: 50px;
        @media #{$max-lg}{
            max-width: 40px;
        }
        @media #{$max-xsm}{
            max-width: 40px;
        }
    }
    .link {
        display: flex;
        align-items: center;
        span {
            margin-right: 8px;
        }
        img {
            max-width: 10px;
        }
    }
}
.bone-section{
    .card-item {
        flex: 0 0 calc(100% - 158px);
        padding-right: 40px;
    }
}


.shib-social-section {
    .shib-row {
        display: flex;
        border-top: 1px solid #fff;
        flex-wrap: wrap;
        .shib-item {
            display: flex;
            align-items: center;
            img{
                margin-right: 4px;
            }
            span{
                transform: translateY(2px);
            }
        }
    }
    .shib-col {
        flex: 0 0 16.66%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.about-section{
    .abt-lst-item {
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        .check-icon {
            position: absolute;
            left: 0;
            top: -3px;
        }
    }
}
