@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.login_h_logo{
    margin-top: 50px;
}

.login_outr{
    background-color: $body-bg;
    border-radius: 40px;
    width: 600px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    @media #{$large-mobile}{
        padding: 20px;
    }
}
.login_holder{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_outr h2{   
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}
.login_cnt_row{
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    background-color:$body-bg-800;
    padding: 16px 21px;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 30px;
    @media #{$large-mobile}{
        flex-direction: column;
        .white_arw{
            display: none;
        }
    }
    
}
.login_icon {
    margin-right: 15px;
}
.login_cnt_row_name {
    width: 75%;
    margin-right: 15px;
    @media #{$large-mobile}{
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
}
.login_cnt_row_name b{
    font-size: 20px;
    font-weight: 700;
    font-family: 'MADE Okine Sans PERSONAL USE';
}
.login_cnt_row_name p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.sign_up_optn{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: $white;
}
.sign_up_optn a{
    color:$primary
}