.rewards-section {
    padding: 70px 0;
    ::placeholder{
        transform: translateY(3px);
    }
    .left-space {
        @media #{$max-xxxl}{
            padding-left: 28px;
        }
    }
    .input-box {
        position: relative;
        .over-text {
            position: absolute;
            top: 10px;
            right: 18px;
        }
        .form-control{
            padding-right: 75px;
            border: solid 1px #e0dfdf;
            background-color: #f7f7f7;
            border-radius: 30px;
        }
    }
    .content-card{
        border-radius: 10px;
        padding: 20px;
    }
    .icon-note {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fea500;
        border-radius: 100%;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
    .side-card {
        background-color: #f7f7f7;
        border-radius: 10px;
        .side-card-lst{
            padding: 0 10px;
        }
        .sid-card-header {
            display: flex;
            padding: 14px 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            align-items: center;
            .imgae-wrap {
                width: 35px;
                margin-right: 10px;
            }
        }
        .sid-card-footer{
            padding: 14px 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .card-list-item {
            display: flex;
            align-items: center;
            background-color: #fff;
            position: relative;
            overflow: hidden;
            margin-bottom: 15px;
            border-radius: 8px;
            border: 1px solid #ecebeb;
            .card-icon {
                position: absolute;
                width: 60px;
                top: 0;
                left: 0;
                bottom: 0;
                right: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom-left-radius: 8px;
                border-top-left-radius: 8px;
                .icon-wrap{
                    max-width: 25px;
                }
            }
            .card-content {
                width: calc(100% - 60px);
                margin-left: auto;
                padding: 8px 10px;
            }
            .hr{
                background-color: #ecebeb;
                height: 1px;
                width: 100%;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
    
}

.icon-dott {
    width: 30px;
    height: 30px;
    background-color: #fea500;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-ball {
        width: 14px;
        height: 14px;
        border-radius: 100%;
        background-color: #fff;
    }
    
}
.text-100 {
    font-size: 14px;
}