.swap-card {
    width: 600px;
    margin: 0 auto;
    max-width: 100%;
    position: absolute;
    top: calc(50% + 16px);
    left: 50%;
    transform: translate(-50%, calc(-50% + 16px));
    // @media #{$max-xl}{
    //     margin-top: 16px;
    //     margin-bottom: 16px;
    // }
    @media #{$max-md}{
        width: 100%;
        position: static;
        top:auto;
        left: auto;
        transform: none;
        margin-top: 40px;
    }
    .swp-header {
        display: flex;
        justify-content: space-between;
    }
    .swp-icon {
        display: flex;
        align-items: center;
        li{
            margin-right: 16px;
            &:last-child{
                margin-right: 0;
            }
            img{
                @media #{$max-sm}{
                    max-width: 20px;
                }
            }
        }
    }
    .flex-form{
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media #{$max-xxl}{
            min-height: 500px;
        }
        @media #{$max-lg}{
            // min-height: auto;
        }
    }
    .coin-text {
        text-align: center;
        padding-bottom: 16px;
    }
    .field-grid {
        margin-top: 0;
        margin-bottom: 12px;
    }
}
.gas_token_form .flex-form-top{
    input{
        text-align: center;
        text-transform: uppercase;
    }
    input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #ffffff;
        opacity: 1; /* Firefox */
      }
      
      input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #ffffff;
      }
      
      input::-ms-input-placeholder { /* Microsoft Edge */
        color: #ffffff;
      }
      .mid-chain{
        padding: 0;
      }
}
.flex-form-btm{
    // position: relative;
}
.flex-form-btm .ps_abs {
    position: absolute;
    z-index: 999;
    @media #{$max-sm }{
        position: relative;
    }
}
.mid-chain.w-100.abs_prnt {
    padding-right: 0;
    padding-left: 30%;
    text-align: right;
    input{
        text-align: right;
    }
    input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #ffffff;
        opacity: 1; /* Firefox */
      }
      
      input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #ffffff;
      }
      
      input::-ms-input-placeholder { /* Microsoft Edge */
        color: #ffffff;  
      }
}
.ps_abs .form-field {
    background: #E48014;
}
.gas_token_form .flex-form-top .form-group{
    margin-bottom: 10px;
}
.tokn-popup  .spinner-border {
    height: 12rem;
    width: 12rem;
    @media #{$max-xxl}{
        height: 8rem;
        width: 8rem;
    }
}