.swap-card {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 32px;
    .swp-header {
        display: flex;
        justify-content: space-between;
    }
    .swp-icon {
        display: flex;
        align-items: center;
        li{
            margin-right: 16px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .flex-column{
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media #{$max-xxl}{
            min-height: 400px;
        }
    }
    .coin-text {
        text-align: center;
        padding-bottom: 16px;
    }
    .field-grid {
        margin-top: 0;
        margin-bottom: 12px;
    }
}
