.content-wrap {
    display: flex;
    justify-content: center;
    align-items: left;
    // min-height: calc(100vh - 82px);
    min-height: auto;
    padding: 40px 0;
    flex-direction: column;
    @media #{$max-lg}{
        padding: 20px 15px;
    }
    .dash-card {
        width: 850px;
        max-width: 100%;
        box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.11);
        border: solid 1px #e6e4e4;
        background-color: #fff;
        padding: 30px;
        .file-control{
            border: solid 1px #e0dfdf;
            background-color: #f7f7f7;
            padding: 6px 12px;
            border-radius: 4px;
            span {
                font-weight: 700;
                transform: translateY(2px);
                margin-left: 8px;
                color: #0e0e0e;
            }
        }
    }
}
.card-list-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
    padding: 10px 16px;
    border-radius: 4px;
    min-height: 90px;
    &:last-child{
        margin-bottom: 0;
    }
    .card-icon {
        margin-right: 12px;
    }
    span{
        font-size: 14px;
        color: rgba(14, 14, 14, 0.6);
    }
    p{
        color: #0e0e0e;
    }
}