.assets_outr {
    padding-top: 22px;
    @media #{$max-sm}{
        padding-top: 16px;
    }
}

 
.assets_top_area{
    margin: 30px -12px 0;
    display: flex;
    justify-content: space-between;
    @media #{$max-xxl}{
        flex-wrap: wrap;
        margin: 20px -12px;
    }
    @media #{$max-lg}{
        margin: 15px -12px 0;
    }
    .btn-img {
        max-width: 25px;
        @media #{$max-xl}{
            max-width: 20px;
        }
    }
    .bal-col {
        flex: auto;
        padding: 0 12px;
        @media #{$max-xl}{
            padding: 0 6px;
        }
        @media #{$max-md}{
            flex:0 0 50%;
            margin-bottom: 12px;
        }
        @media #{$max-sm}{
            flex:0 0 100%;
            margin-bottom: 12px;
        }
    }
    .main_net_amnt{
        background-color:$body-bg;
        padding: 20px;
        border-radius: 20px;
        // width: 335px;
        text-align: center;
        max-width: 100%;
        padding: 20px;
        @media #{$max-xl}{
            padding: 15px;
        }
        h1{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            margin-bottom: 15px;
            @media #{$max-xxl}{
                font-weight: 600;
            }
        }
        p{   
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
    .btns_area {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .btn{
            padding: 15px 20px;
            &:first-child{
                margin-bottom: 12px;
            }
            @media #{$max-xl}{
                padding: 12px 10px;
            }
            @media #{$max-md}{
                padding: 10px 8px;
            }
            @media #{$max-sm}{
                padding: 8px 8px;
            }
        }
        a{
            span{
                padding-right:10px;
            }
        }
    }
    .lrg_btns_area{
        background-color: $body-bg;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 20px;
        @media #{$max-xl}{
            padding: 15px;
        }
        a{
            &:first-child{
                margin-bottom: 10px;
            }
        }
    }
}

.assets_btm_area {
    margin-top: 32px;
    @media #{$max-xxl}{
        margin-top: 22px;
    }
    @media #{$max-lg}{
        margin-top: 16px;
    }
    h2{
        margin-bottom: 32px;
        @media #{$max-xxl}{
            margin-bottom: 22px;
        }
        @media #{$max-lg}{
            margin-bottom: 16px;
        }
    }
}

.table input[type="search"], .custum-search {
    border-radius: 10px;
    border: none;
    background: #E9E9EC;
    font-size: 16px;
    color: #596380;
    padding: 8px 25px;
}
.t_a_clm{
    // flex: 1;
    @media #{$max-xxl}{
        // flex: 0 0 50%;
        height: 100%;
        // margin-bottom: 20px;
   }
//    @media #{$max-lg }{
//         flex: 0 0 100%;
//    }

}
.t_a_clm:nth-child(2){
    margin: 0 30px;
    @media #{$max-xxl}{
       margin-left: 0px;
       margin-right: 0px; 
       padding:10px 20px;
       margin-bottom: 20px;
    }
    @media #{$max-lg }{
        padding: 10px 0;
    }
}

.exchng_msg_box{
    margin-top: 25px;
    background-color: $body-bg;
    padding: 18px;
    text-align: center;
    border-radius: 10px;
    .sprdt_txt{
        background-color: $body-bg-800;
        padding: 10px 30px;
        border-radius: 10px;
        font-weight: 600;
        display:inline-block;   
        margin-top: 2px;
    }
}
.alert_msg{
    // margin: 20px;
    padding: 20px 0px 30px 0px;
    img{
        max-width: 16px;
        display: inline-block;
    }
}
.pop_btm_txt{
    margin: 35px 0;
    a{
        color: $primary;
    }
}
.pop_btns_area{
    display: flex;
}
.cnfrm_box{
    margin-top: 20px;
    background-color:$body-bg-800;
    border-radius: 10px;
    @media #{$max-xxl}{
        margin-top: 10px;
    }
}
.top_overview{
    padding: 16px 0;
    text-align: center;
    h6{
        font-weight: 700;
        margin: 5px 0;
        margin-top: 6px;
    }
}
.add_detail {
    background-color:$primary;
    padding: 16px 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.cnfrm_check_box {
    color: $body-text;
    padding:15px 0 24px;
    a{
        color:$primary;
    }
    input[type="checkbox"]{
        border: 1px solid #F28B03;
        background-color: transparent;
    }
    .form-check {
        padding-left: 26px;
        position: relative;
    }
    input {
        padding: 10px;
        width: 10px;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 30px;
        padding: 7px !important;
    }
}
.add_detail p{
    margin-bottom: 0;
    word-break: break-all;
}
.modal-body {
    padding-top:0;
    padding-bottom: 0;
}

.modal-backdrop.show {
    opacity: 0.10;
    background: rgba($white,0.6);
}
.flex.flex-col.divide-y{
    height: 200px;
    overflow: hidden;
    overflow-y: auto;
}