
 
.assets_top_area{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    @media #{$max-xxl}{
            flex-wrap: wrap;  
    }
}
.main_net_amnt{
    background-color:$body-bg;
    padding: 20px;
    border-radius: 20px;
    width: 335px;
    text-align: center;
    max-width: 100%;
}
.main_net_amnt h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px;
}
.main_net_amnt p{   
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}
.btns_area a span{
    padding-right:10px;
}
.btns_area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media #{$max-xxl}{
        .btn:first-child{
            margin-bottom: 10px;
        }
    }
}
.lrg_btns_area{
    background-color: $body-bg;
    padding: 16px 20px !important; 
    border-radius: 20px;
}
.lrg_btns_area a:first-child{
    margin-bottom: 10px;
}
.assets_btm_area {
    margin-top: 90px;
}
.assets_btm_area h2{
    margin-bottom: 50px;
}
.table input[type="search"] {
    border-radius: 10px;
    border: none;
    background: #E9E9EC;
    font-size: 16px;
    color: #596380;
    padding: 8px 25px;
}
.t_a_clm{
    flex: 1;
    @media #{$max-xxl}{
        flex: 0 0 50%;
        height: 100%;
        margin-bottom: 20px;
   }
   @media #{$max-lg }{
        flex: 0 0 100%;
   }
}
.t_a_clm:nth-child(2){
    margin: 0 30px;
    @media #{$max-xxl}{
       margin-left: 0px;
       margin-right: 0px; 
       padding:10px 20px;
       margin-bottom: 20px;
    }
    @media #{$max-lg }{
        padding: 10px 0;
    }
}
.exchng_msg_box{
    margin-top: 20px;
    background-color: $body-bg;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    .sprdt_txt{
        background-color: $body-bg-800;
        padding: 10px 30px;
        border-radius: 10px;
        font-weight: 600;
        display:inline-block;   
        margin-top: 10px;
    }
}
.alert_msg{
    margin: 20px;
}
.pop_btm_txt{
    margin: 30px 0;
    a{
        color: $primary;
    }
}
.pop_btns_area{
    display: flex;
}
.cnfrm_box{
    
    background-color:$body-bg;
    border-radius: 10px;
}
.top_overview{
    padding: 16px 0;
    text-align: center;
    h6{
        font-weight: 700;
        margin: 5px 0;
        margin-top: 20px;
    }
}
.add_detail {
    background-color:$primary;
    padding: 16px 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.cnfrm_check_box {
    color: $body-text;
    padding: 15px 0;
    a{
        color:$primary;
    }
    input[type="checkbox"]{
        border: 1px solid #F28B03;
        background-color: transparent;
    }
}
.add_detail p{
    margin-bottom: 0;
    word-break: break-all;
}
.modal-body {
    padding-top:0;
    padding-bottom: 0;
}
.modal-backdrop.show{
    opacity: 0;
}