
 
.assets_top_area{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}
.main_net_amnt{
    background-color:$body-bg;
    padding: 20px;
    border-radius: 20px;
    width: 335px;
    text-align: center;
    max-width: 100%;
}
.main_net_amnt h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px;
}
.main_net_amnt p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}
.btns_area a span{
    padding-right:10px;
}
.btns_area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lrg_btns_area{
    background-color: $body-bg;
    padding: 16px 20px;
    border-radius: 20px;
}
.lrg_btns_area a:first-child{
    margin-bottom: 10px;
}
.assets_btm_area {
    margin-top: 90px;
}
.assets_btm_area h2{
    margin-bottom: 50px;
}
.table input[type="search"] {
    border-radius: 10px;
    border: none;
    background: #E9E9EC;
    font-size: 16px;
    color: #596380;
    padding: 8px 25px;
}
.t_a_clm{
    flex: 1;
}
.t_a_clm:nth-child(2){
    margin: 0 30px;
}