
.widget{
    .bottom-header{
     display: none;   
    }
}
.wiget-field{
    span{
        color:$primary_color;
        padding-right: 25px;
    }
    .arrow.down{
        right: 8px;
        top: 6px;
    }
    .arrow{
        border-color:$dark-color;
    }
}
.bridge-sec{
    .swap-col{
        cursor: pointer;
    }
}
.bottom-header{
    .navbar-light .navbar-toggler-icon{
    background-image: url('../../images/menu-icon.png') !important;
    background-size:30px;
    background-repeat: no-repeat;   
    background-position: center;
   }
    .nav-toggle {
        padding: 0;
        margin-bottom: 15px;
        box-shadow: none;
    }
}
