.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(100vh - 80px);
    color:$white;
    animation: colorSlide 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;

    .text-center {
        text-align: center;

        h1,
        h3 {
            margin: 10px;
            cursor: default;

            .fade-in {
                animation: fadeIn 2s ease infinite;
            }
        }

        h1 {
            font-size: 8em;
            transition: font-size 200ms ease-in-out;
            border-bottom: 1px dashed white;

            span#digit1 {
                animation-delay: 200ms;
            }

            span#digit2 {
                animation-delay: 300ms;
            }

            span#digit3 {
                animation-delay: 400ms;
            }
        }

        
    }
}

@keyframes colorSlide {
    // 0% {
    //     background-color:$body-bg-800;
    // }

    // 25% {
    //     background-color: $body-bg;
    // }

    // 50% {
    //     background-color: $body-bg-800;
    // }

    // 75% {
    //     background-color:$body-bg;
    // }

    // 100% {
    //     background-color: $body-bg-800;
    // }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    ;

    100% {
        opacity: 1;
    }
}
.error-container .btn{
    background-color: $primary;
    margin-top: 50px;
    color:$white;
    &:hover{
        background-color: $primary;
         color:$white;
    }
}