.back-blk{
    position: absolute;
    left: 50px;
    right: auto;
    top:33px;
    @media #{$max-lg} {
        top: 23px;
    }
    @media #{$max-xsm} {
        top: 17px;
    }
    img{
        width: 13px;
        height: auto;
        @media #{$max-xsm} {
            width: 11px;
        }
    }
}
.drop-field{
    .swap-col{
        border-left: none;
        padding-right: 0;
        @media #{$max-lg} {
            flex-basis: calc(100% - 165px);
            max-width: calc(100% - 140px);
        }
        @media #{$max-xsm} {
            flex-basis: calc(100% - 145px);
        }
        @media #{$max-xxsm} {
            flex-basis: calc(100% - 0px);
            max-width: calc(100% - 0px);
        }
    }
    .swap-control{
        @media #{$max-xxsm} {
           flex-direction: column;
        } 
    }
    .warning-btn{
        box-shadow: none;
    }
    .over-text{
        right:10px;
    }
    .swap-input{
        padding-right: 50px;
    }
}
.coin-btn {
    width: 34%;
    padding-right: 5px;
    @media #{$max-xsm} {
       width: 140px;
    }
    @media #{$max-xxsm} {
        width: 98%;
        padding-right: 0;
     } 
    .btn{
        padding: 9px 20px;
        border-radius: 30px;
    }
    .arrow.down{
        border-color: $white;
    }
}
.movable-block {
    position: absolute;
    left: 10px;
    right: auto;
    top: 7px;
}
.btn-txt{
    padding-left: 25px;
}