.supprt-baner{
    background: url('../../../assets/images/sprt-banner.png') no-repeat;
    background-size: 100%;
    display: flex;
    justify-content:center;
}
.sup-content {
    text-align: center;
    max-width: 680px;
    padding: 120px 0;
}