.top_bnr_area{
    // background-color:$body-bg;
    padding: 70px 0;
    @media #{$max-xxl}{
        padding: 50px 0;
    }
    @media #{$max-lg}{
        padding: 30px 0;
    }
    @media #{$max-sm}{
        padding: 25px 0;
    }
}


.mid_cnt_area{
    padding: 100px 0;
    text-align: center;
    background-color: $body-bg-800;
    @media #{$max-xxl}{
        padding: 70px 0 60px;
    }
    @media #{$max-xl}{
        padding: 60px 0 50px;
    }
    @media #{$max-md}{
        padding: 40px 0 30px;
    }
    h3{
        margin-top: 15px;
    }
    .btns_sec{
        margin-top: 50px;
        @media #{$max-xxl}{
            margin-top: 30px;
        }
    }
}
.cmn_inpt_row{
    margin-bottom: 15px;
}
.val_popups{
    padding-top: 50px;
    // min-height: 295px;
}
.val_all_bts{
    @media #{$max-md} {
        button{
            margin:0px 0;
        }
    }
}
.val_account_outr .mid_cnt_area button{
    
    @media #{$max-lg}{
        padding: 5px;
        font-size: 13px;
    }    
}
.mid_cnt_area{
    @media #{$max-md}{
        .val_all_bts{
            justify-content: center;
        }
    }
}
.vali_deli_popups .image_area img {
    margin: 40px auto;
    @media #{$max-md} {
         width: 100px;
    }
}
.vali_deli_popups  .pop_btns_area a {
    justify-content: center;
}