.top_bnr_area{
    // background-color:$body-bg;
    padding: 100px 0;
    @media #{$max-xxl}{
        padding: 50px 0;
    }
    @media #{$max-lg}{
        padding: 30px 0;
    }
    @media #{$max-sm}{
        padding: 25px 0;
    }
}


.mid_cnt_area{
    padding: 100px 0;
    text-align: center;
    background-color: $body-bg-800;
    @media #{$max-xxl}{
        padding: 70px 0 60px;
    }
    @media #{$max-xl}{
        padding: 60px 0 50px;
    }
    @media #{$max-md}{
        padding: 40px 0 30px;
    }
    h3{
        margin-top: 15px;
    }
    .btns_sec{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        @media #{$max-xxl}{
            margin-top: 30px;
        }
    }
}
.cmn_inpt_row{
    margin-bottom: 15px;
}
.val_popups{
    padding-top: 20px;
    // min-height: 295px;
    ::placeholder{
        color:$lt-grey;
    }
    .pop_btns_area{
        margin-top: 50px;
    }
}
.val_all_bts{
    @media #{$max-md} {
        button{
            margin:0px 0;
        }
    }
}
.val_account_outr .mid_cnt_area button{
    
    @media #{$max-lg}{
        padding: 5px;
        font-size: 13px;
    }    
}
.mid_cnt_area{
    @media #{$max-md}{
        .val_all_bts{
            justify-content: center;
        }
    }
}
.vali_deli_popups .image_area img {
    margin: 40px auto;
    @media #{$max-md} {
         width: 100px;
    }
    @media #{$max-xxsm}{
        width:60px;
    }
}
.vali_deli_popups  .pop_btns_area a {
    justify-content: center;
}
.only_text{
    margin-bottom: 50px;
}

.val_del_outr{
    background: linear-gradient(180deg, #F06500 0%, #F28B03 100%);
    padding: 50px 20px;
    border-radius: 10px;
    
}
.vali_deli_popups { 
    .extr_pd_remove input[type=text]{
        padding: 0;
    }
}
.text-pop-right {
    display: flex;
    justify-content: space-between;
}
.vali_deli_popups { 
    .image_area{
        display: flex;
        justify-content: center;
    }
    .redu_img{
        width: 130px;
    }
}

// my account scss
.btn-grp {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: -5px;
    margin-right: -5px;
    .btn-grp-lst{
        margin-top: 12px;
        padding-left: 5px;  
        padding-right: 5px;
        .btn-small{
            margin-right: 0;
            width: 100%;
        }
        
        .elipse-btn {
            max-width: 60px;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
.height-fx{
    min-height: 24px;
}
.spin-outer {
    height: 90px;
}

.btn-group{
    margin-right: 12px;
    margin-bottom: 12px;
    &:last-child{
        margin-right: 0;
    }
}

.data-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.border-sec {
    border: 1px solid $white;
    height: 100%;
}

.info-row {
    font-size: 16px;
    @media #{$max-xl}{
        font-size: 14px;
    }
}
.info-block {
    display: flex;
    align-items: center;
    padding: 0 15px;
    @media #{$max-xsm}{
        flex-direction: column;
    }
}
.grid-info{
    @media #{$max-xsm}{
        text-align: center;
    }
}
.image-blk{
    margin-right: 12px;
    max-width: 60px;
    @media #{$max-xsm}{
        margin-bottom: 12px;
        margin-right: 0;
    }
}
.block-container {
    display: flex;
    justify-content: space-between;
}
.cus-width{
    width:50%;
}
.top-sec {
    margin: 20px 0;
}
.orange-color{
    color:$primary;
}
.button-block {
    margin: 65px 0 60px;
    @media #{$max-lg}{
        margin: 50px 0 30px;
    }
    @media #{$max-md}{
        margin: 40px 0 30px;
    }
    @media #{$max-sm}{
        margin: 30px 0 30px;
    }
}
.add-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px 0 15px;
}