
// variable for new design
$primary-gradient:linear-gradient(180deg, #F06500 0%, #F28B03 100%);
$primary:#F06500;
$primary-two:#f17d02;
$primary-three:#F28B03;
$lite-orange:#fff0d4;
$white:#FFFFFF;
$lite-grey-secondry:#EAEAE8;
$body-text:#BBBBBE;
$body-bg:#151B28;
$body-bg-secondry:#1E1E1E;
$body-bg-800:#0C0F17;
$secondary:#1C1B23;
$secondary-800:#24232B;
$grey-color: #596380;
$grey-color-drk: #6a7596;
$grey-color-800:#E9E9EC;
$green-color:#437c1b;
$lt-grey:#575757;
$lt-green:#daf5c9;
$lt-blue:#dce5fd;
$ltdrk-orange:#f9d2bc;
$lt-purple-50:#ecd5fd;
// 

$min-exl: 'only screen and (min-width: 1920px)';
$min-xxxl: 'only screen and (min-width: 1600px)';
$min-xxl: 'only screen and (min-width: 1400px)';
$min-xl : 'only screen and (min-width: 1200px)';
$min-lg : 'only screen and (min-width: 992px)';
$min-md : 'only screen and (min-width: 768px)';
//min width media closed 

// $large-mobile:'only screen and (max-width: 767px)';
$max-exl: 'only screen and (max-width: 1919.98px)';
$max-xxxl: 'only screen and (max-width: 1599.98px)';
$max-xxl: 'only screen and (max-width: 1399.98px)';
$max-xl : 'only screen and (max-width: 1199.98px)';
$max-lg : 'only screen and (max-width: 991.98px)';
$max-md : 'only screen and (max-width: 767.98px)';
$max-sm : 'only screen and (max-width: 574.98px)';
$max-xsm : 'only screen and (max-width: 480px)';
$max-xsmm : 'only screen and (max-width: 400px)';
$max-xxsm : 'only screen and (max-width: 350px)';

$minxd : 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$desktop-device : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$tablet-device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile:'only screen and (max-width: 767px)';
$small-mobile: 'only screen and (max-width: 479.98px)';
 
$mob:'only screen and (min-width: 475px) and (max-width:574.98px)';
