.menu-btn{
    display: none;
    max-width: 30px;
    @media #{$max-xl}{
        display: inline-block;
        max-width: 25px;
    }
}

.cmn_dashbord_main_outr{
    background-color: $body-bg-800;
    margin: 32px 20px 32px auto;
    border-radius: 40px;
    padding: 20px;
    width: calc(100% - 275px);
    min-height: calc(100vh - 64px);
    position: relative;
    @media #{$max-xl}{
        margin: 22px 22px 22px auto;
        width:calc(100% - 30px);
        padding: 15px;
        border-radius: 12px;
    }
    @media #{$max-lg}{
        margin: 15px 15px 15px auto;
        width:calc(100% - 15px);
        margin-left: auto;
        margin-right: auto;
        padding: 12px;
        border-radius: 10px;
    }
}
.sidebar-toggle {
    position: absolute;
    top: 34px;
    z-index: 99;
    left: 30px;
    cursor: pointer;
    display: none;
    @media #{$max-xl}{
        display: block;
    }
    @media #{$max-xsm}{
        left: 15px;
    }
}

.sidebar {
    background: $body-bg;
    position: fixed;
    top: 0;
    width: 237px;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 99;
    transition: transform 0.5s;
    
    @media #{$max-xl}{
        transform: translateX(-237px);
        opacity: 0;
        transition: transform 0.5s;
    }
    &.sidebar-active{
        transform: translateX(0);
        opacity: 1;
        transition: transform 0.5s;
        z-index: 1001;
    }
    .sidebar-logo {
        position: relative;
        padding: 30px 20px 70px;
        @media #{$max-xxl}{
            padding: 22px 15px 40px;
        }
        @media #{$max-xl}{
            padding: 15px 15px 30px;
        }
        @media #{$max-lg}{
            padding: 40px 15px 30px;
        }
        .close-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            max-width: 14px;
            display: none;
            @media #{$max-xl}{
                display: block;
            }
        }
    }

    .side-menu {
        padding: 0 20px;
        @media #{$max-xxl}{
            padding: 0 9px;
        }
        .side-menu-item {
            margin-bottom: 12px;
        }

        .side-link {
            display: block;
            position: relative;
            text-align: left;
            padding-left: 40px;
            font-weight: 600;
            color: $grey-color;
            cursor: pointer;
            border: 0;
            box-shadow: none;
            outline: none;
            @media #{$max-xxl}{
                padding-right: 10px;
            }
            &:hover{
                border: 0;
                box-shadow: none;
                outline: none;
            }
        }
        .primary-btn{
            color: $white;
        }
        .side-ico {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            max-width: 22px;
        }
        
    }
}

