.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    bottom: auto;
    background: transparent;
    &.sticky-header{
        background: $body-bg;
    }
    .navbar-toggler:focus {
        box-shadow:none;
    }
    .navbar-brand {
        padding-top: 8px;
        padding-bottom: 8px;
        @media #{$max-lg}{
            max-width: 150px;
        }
        @media #{$max-md}{
            max-width: 120px;
        }
        @media #{$max-sm}{
            max-width: 110px;
        }
    }   
    
}
.nav-link{
    font-size: 16px;
    font-weight: 600;
    color: $white;
    &:hover{
        color: $white;
    }
    @media #{$max-xl}{
        font-size: 14px;
    }
}

.inner-header{
    .nav-item {
        margin-right: 12px;
        &:last-child{
            margin-right: 0;
            @media #{$max-md}{
                margin-bottom: 0;
            }
        }
        @media #{$max-md}{
            margin-bottom: 15px;
            margin-right: 0;
        }
    }
    .bg-dark-1000{
        background-color: $primary;
    }   
    .text-primary{
        color: $white !important;
    }
    .btn-status{
        .btn-primary{
            display: flex;
            align-items: center;
        }
        button{
            background-color: $primary !important;
            height: auto;
            @media #{$max-md}{
                width: 100%;
            }
        }
    }
    .dot-icon{
        max-width: 30px;
        @media #{$max-lg}{
            max-width: 20px;
        }
    }
    .px-4 {
        @media #{$max-sm}{
            padding-right: 0.5rem !important;
            padding-left: 0.5rem !important;
        }
    }
    .container{
        @media #{$max-sm}{
            padding-left: 0;
            padding-right: 0;
        }
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
}
.staking-header{
    border-bottom: 1px solid $grey-color;
    border-top: 1px solid $grey-color;
    .nav-item {
        margin-right: 4px;
    }
    .nav-link {
        padding: 10px 10px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -1px;
            left: 0;
            right: 0;
            top: auto;
        }
        &.active{
            color: $primary;
          &::before{
                background:$primary;
          }  
        }
    }
}

.z-50 {
    z-index: 999;
}
