.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    bottom: auto;
    background: transparent;
    &.sticky-header{
        background: $body-bg;
    }
    .navbar-toggler:focus {
        box-shadow:none;
    }
    .navbar-brand {
        padding-top: 8px;
        padding-bottom: 8px;
        max-width: 220px;
        @media #{$max-xxl}{
            max-width: 200px;
        }
        @media #{$max-lg}{
            max-width: 150px;
        }
        @media #{$max-md}{
            max-width: 120px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        @media #{$max-sm}{
            max-width: 110px;
            // padding-top: 10px;
            // padding-bottom: 10px;
        }
    }   
    
}
.nav-link{
    font-size: 16px;
    font-weight: 600;
    color: $white;
    &:hover{
        color: $white;
    }
    @media #{$max-xl}{
        font-size: 14px;
    }
}

.inner-header{
    .nav-item {
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
            @media #{$max-md}{
                margin-bottom: 0;
            }
        }
        @media #{$max-md}{
            margin-bottom: 0px;
            margin-right: 0;
        }

    }
    .bg-dark-1000{
        background-color: $primary;
    }   
    .text-primary{
        color: $white !important;
    }
    .btn-status{
        position: relative;
        .btn-primary{
            display: flex;
            align-items: center;
        }
        .dropdown {
            position: absolute;
            top: 50%;
            right: -8px;
            z-index: 99;
            background: transparent;
            transform: translateY(-50%);
            height: 100%;
            .dropdown-menu{
                right: calc(100% - 18px);
            }
            .dropdown-toggle::after {
                content: "";
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%) rotate(45deg);
                right: 10px;
                width: 10px;
                height: 10px;
                border: 2px solid;
                border-top: 0;
                border-left: 0;
                margin-top: -3px;
                @media #{$max-xsm}{
                    right: 8px;
                    height: 8px;
                    width: 8px;
                }
            }
        }
        .flex{
            flex-direction: row-reverse;
        }
        button{
            background-color: $primary !important;
            height: auto;
            cursor: pointer;
            @media #{$max-md}{
                width: 100%;
            }
            @media #{$max-sm}{
                padding-right: 25px !important;
            }
            @media #{$max-xsm}{
                font-size: 12px;
            }
        }
        .bg-dark-1000 {
            border-radius: 10px;
            font-weight: 500;
            font-size: 18px;
            padding: 13px 22px !important;
            padding-right: 30px !important;
            height: 100%;
            cursor: pointer;
            @media #{$max-xxl}{
                padding: 12px 20px !important;
                padding-right: 30px !important;
                font-size: 16px;
            }
            @media #{$max-xl}{
                font-size: 14px;
            }
            @media #{$max-xsm}{
                padding: 8px 7px !important;
                padding-right: 20px !important;
            }
        }
    }
    .dot-icon{
        max-width: 30px;
        // margin-right: 20px;
        @media #{$max-lg}{
            max-width: 20px;
        }
    }
    .shib-dropdown {
        margin-right: 20px;
    }
    .px-4 {
        @media #{$max-sm}{
            padding-right: 0.5rem !important;
            padding-left: 0.5rem !important;
        }
    }
    .container{
        width: 100%;
        max-width: 100%;
        @media #{$max-sm}{
            padding-left: 0;
            padding-right: 0;
        }
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
        top: 100%;
        @media #{$max-lg}{
            top: 100%;
            right: 0;
            left: auto;
        }
        @media #{$max-md}{
            left: 0;
            right: auto;
            
        }
    }
    
}
.staking-header{
    border-bottom: 1px solid $grey-color;
    border-top: 1px solid $grey-color;
    .nav-item {
        margin-right: 4px;
    }
    .nav-link {
        padding: 10px 10px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -1px;
            left: 0;
            right: 0;
            top: auto;
        }
        &.active{
            color: $primary;
          &::before{
                background:$primary;
          }  
        }
    }
}

.z-50 {
    z-index: 999;
}
.launch-btn{
    img{
        @media #{$max-xxsm}{
            width:26px;
        } 
    }
}


.app-drop {
    .dropdown-menu{
        right: 0;
        @media #{$max-sm}{
            right: -100px;
        }
        @media #{$max-sm}{
            right: -100px;
        }
        @media #{$max-xxsm}{
            right: -150px;
        }
        
        .dropdown-item {
            border-bottom:1px solid rgba($color: $white, $alpha: 0.2);
            padding: 15px 20px !important;
            margin: 0px 0;
            @media #{$max-md}{
                white-space: normal;
            }
           
        }
        .dropdown-item:hover {
            background: #000;
        }
        .dropdown-item:last-child{
            margin-bottom: 0;
            // padding-bottom: 0;
            border:0
        }
        .dropdown-item:first-child:hover{
            border-bottom-left-radius: 0.375rem;
            border-bottom-right-radius: 0.375rem;
        }
        .dropdown-item:first-child{
            margin-top: 0;
            padding-top: 0;
        }
        .dropdown-item:first-child:hover{
            border-top-left-radius: 0.375rem;
            border-top-right-radius: 0.375rem;
        }
        .h6 {
            font-size: 16px;
            font-weight: 600;
        }
        span{
            font-size: 14px;
            font-weight: 400;
        }
        .left-border {
            position: relative;
            padding-left: 12px;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top:4px;
                bottom: 0;
                height: 65%;
                width: 3px;
                background:$primary;
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
            }
        }
    }
    
}
.header-overide{
    .btn-status{
        .bg-dark-1000{
            @media #{$max-xsm}{
                padding: 5px 8px !important;
            } 
        }
    }
    .dot-icon {
        @media #{$max-lg}{
            max-width: 20px;
        }
    }
    .dd-ico{
        padding-right: 5px;
    }
    .dot-icon{
        @media #{$max-xsm}{
            display: none;
        }
    }
    .navbar-nav .dropdown-menu{
        span{
            @media #{$max-xxsm}{
                font-size: 12px;
            } 
        }
        .dropdown-item{
            @media #{$max-xxsm}{
                margin: 5px 0;
                padding: 5px 0;
            } 
        }
        @media #{$max-md}{
            left: 0;
            right: auto;
            top: 100%;
        }
        @media #{$max-xsm}{
            left: -20px;
            right: auto;
            top: 100%;
            width: 230px;
        }
        @media #{$max-xxsm}{
            left: 0;
            width: 215px;
            padding: 7px;
        }
    }
    .navbar-brand{
        
        @media #{$max-xsm}{
            max-width: 70px;
        }
    }
}
