.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    bottom: auto;
    background: transparent;
    .navbar-brand {
        @media #{$max-lg}{
            max-width: 150px;
        }
        @media #{$max-md}{
            max-width: 120px;
        }
        @media #{$max-sm}{
            max-width: 110px;
        }
    }   
}
.nav-link{
    font-size: 16px;
    font-weight: 600;
    color: $white;
    &:hover{
        color: $white;
    }
}