@import './cus-var';

// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*-- Common Style --*/

*, *::after, *::before {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
html, body {
    // height: 100%;
    width: 100%;
    font-family: 'Open Sans';
}
body{
    font-size: 18px;
    font-family: 'Open Sans' !important;
    color: $white;
    overflow: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    min-height: 100%;
    background-color:$body-bg;
    @media #{$max-xxl}{
        font-size: 16px;
    }
    @media #{$max-xl}{
        font-size: 14px;
    }
}

.ff-mos{
    font-family: 'MADE Okine Sans PERSONAL USE' !important;
}
.ffms-inherit{
    font-family: 'MADE Okine Sans PERSONAL USE';
    .no-record{
        font-family: 'MADE Okine Sans PERSONAL USE';
    }
    .h1,.h2,.h3,.h4,.h5,.h6{
        font-family: 'MADE Okine Sans PERSONAL USE';
    }
    p,h1,h2,h3,h4,h5,h6,span,label{
        font-family: 'MADE Okine Sans PERSONAL USE';
    }
    b,a,div,section,button{
        font-family: 'MADE Okine Sans PERSONAL USE';
    }
    ul,li,ol{
        font-family: 'MADE Okine Sans PERSONAL USE';
    }
    table{
        thead,tbody,th,td,tr,span{
            font-family: 'MADE Okine Sans PERSONAL USE';
        }
    }
    form,input{
        font-family: 'MADE Okine Sans PERSONAL USE';
    }
    ::placeholder{
        font-family: 'MADE Okine Sans PERSONAL USE';
    }
}
// override font faimly

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Open Sans';
    line-height: 1.2;
}
b{
    font-weight: 600;
    @media #{$max-lg}{
        font-weight: 500;
    }
}
h1 {
    font-size: 48px;
    @media #{$max-xxl}{
        font-size: 38px;
    }
    @media #{$max-lg}{
        font-size: 36px;
    }
    @media #{$max-md}{
        font-size: 34px;
    }
    @media #{$max-sm}{
        font-size: 32px;
    }
    @media #{$max-xsm}{
        font-size: 28px;
    }
}
h2 {
    font-size: 40px;
    @media #{$max-xxl}{
        font-size: 30px;
    }
    @media #{$max-xl}{
        font-size: 28px;
    }
    @media #{$max-lg}{
        font-size: 26px;
    }
    @media #{$max-md}{
        font-size: 26px;
    }
}

h3 {
    font-size: 32px;
    @media #{$max-xxl}{
        font-size: 28px;
    }
    @media #{$max-xl}{
        font-size: 24px;
    }
    @media #{$max-lg}{
        font-size: 24px;
    }
}
h4 {
    font-size: 24px;
    @media #{$max-xl}{
        font-size: 22px;
    }
    @media #{$max-md}{
        font-size: 20px;
    }
}
h5 {
    font-size: 22px;
    @media #{$max-xl}{
        font-size: 20px;
    }
    @media #{$max-lg}{
        font-size: 18px;
    }
    @media #{$max-md}{
        font-size: 16px;
    }
}
h6 {
    font-size: 20px;
    @media #{$max-xl}{
        font-size: 18px;
    }
    @media #{$max-lg}{
        font-size: 16px;
    }
    @media #{$max-md}{
        font-size: 14px;
    }
}

p{
    color:rgba(14, 14, 14, 0.89);
    color:rgba($white, 0.89);
    margin-bottom: 8px;
    font-family: 'Open Sans';
    &:last-child {
        margin-bottom: 0;
    }
    @media #{$max-xxl}{
        font-size: 16px;
        line-height: 26px;
    }
    @media #{$max-xl}{
        font-size: 14px;
    }
}

button{
    outline: none;
    &:hover{
        outline: none;
    }
    &:focus{
        outline: none;
    }
}
a, button {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
a, button, img, input, span {
    transition: all 0.3s ease 0s;
}

a,span{
    display:inline-block;
}

*:focus {
    outline: none !important;
}
a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: $primary;
}
button, input[type="submit"] {
    cursor: pointer;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
::placeholder{
    font-weight: 600;
    color:$white;
    @media #{$max-lg}{
        font-weight: 500;
    }
    @media #{$max-xxsm}{
        font-weight: 400;
    }
}
//reset end

.primary-bg{
    background: $primary !important;
}
.primary-card{
    background: $primary-gradient;
}
.bg-dark-900 {
    background-color: #0C0F17;
}
.text-blue {
    color: #F28B03;
    opacity: 1 !important;
}
.text-primary {
    color:$primary !important;
}
.text-green{
    color: $green-color;
}

// colors end

.p-25{
    padding: 25px;
}

// radius css

.rad-25{
    border-radius: 25px;
}

// helper css end
.container {
    @media (min-width:1300px){
        max-width: 1280px;
    }
    @media #{$max-xl}{
        max-width: 1080px;
    }
    @media #{$max-lg}{
        max-width: 920px;
    }
} 
.btn:first-child:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

.btn{
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    padding: 11px 22px;
    border: 0;
    &:hover{
        border: 0;
    }
    &:focus{
        border: 0;
    }
    @media #{$max-xxl}{
        padding: 10px 20px;
        font-size: 16px;
    }
    @media #{$max-xl}{
        font-size: 14px;
    }
    @media #{$max-xsm}{
        padding: 8px 15px;
    }
    @media #{$max-xxsm}{
        padding: 6px 15px;
    }
}

.primary-btn{
    background:$primary-gradient;
    color:rgba($white, 0.89) !important;
    font-weight: 600;
    // border: 1px solid rgba(255, 255, 255, 0.4);
    &:hover{
        background:$primary-gradient !important;
        opacity: 0.8;
        color:rgba($white, 0.89) !important;
    }
}

.secondary-btn{
    background:$secondary;
    color: rgba($white, 0.89) !important;
    // border: 1px solid rgba(255, 255, 255, 0.4);
    &:hover{
        background:$secondary !important;
        color: rgba($white, 0.89) !important;
        opacity: 0.8;
    }
}

.primary-gradient-text {
    background: linear-gradient(180deg, #F06500 0%, #F28B03 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.grey-btn{
    background-color:$grey-color;
    border-radius: 10px;
    font-weight: 600;
    color:rgba($white, 0.89) !important;
    @media #{$max-xxl}{
        font-size: 14px;
    }
    &:hover{
        background-color:$grey-color !important;
        color:rgba($white, 0.89) !important;
        opacity: 0.8;
    }
}

.white-btn{
    background-color:$grey-color-800;
    border-radius: 10px;
    font-weight: 600;
    color:$grey-color !important;
    @media #{$max-xxl}{
        font-size: 14px;
    }
    &:hover{    
        background-color:$grey-color-800 !important;
        color:$grey-color !important;
        opacity: 0.9;
    }
}

.black-btn{
    background-color: $body-bg-800;
    color: rgba($white, 0.89) !important;
    &:hover{
        background-color: $body-bg-800 !important;
        color:rgba($white, 0.89) !important;
        opacity: 0.8;
    }
}

.blue-btn{
    background-color:$body-bg;
    border-radius: 10px;
    // font-size: 16px;
    font-weight: 600;
    color:$white !important;
    &:hover{
        background-color:$body-bg !important;
        color:rgba($white, 0.89) !important;
        opacity: 0.8;
    }
}
.success-btn{
    background-color: $green-color;
    color:$white !important;
    &:hover{
        background-color:$green-color !important;
        color:rgba($white, 0.89) !important;
        opacity: 0.8;
    }
}
.cmn_dasdrd_table {
    background:$body-bg;
    border-radius: 30px;
    border: 1px solid #596380;
    color: $white;
    font-family: 'Open Sans';
    @media #{$max-lg}{
        border-radius: 20px;
    }
    @media #{$max-md}{
        border-radius: 16px;
    }
    @media #{$max-sm}{
        border-radius: 12px;
    }
    .table th, .table td{
        color:$grey-color-800;
        font-weight: 400;
        padding: 20px;
        white-space:nowrap;
        vertical-align: middle;
        &:first-child{
            text-align: left;
        }
        &:last-child{
            text-align: right;
        }
        @media #{$max-xxl}{
            padding: 15px 15px;
        }
        @media #{$max-xl}{
            padding: 12px 15px;
        }
        @media #{$max-lg}{
            padding: 10px 15px;
        }
        @media #{$max-md}{
            padding: 8px 15px;
        }
    }
    .table th{
        border-bottom: 1px solid #596380;
    }
    .table td span{
        padding-right: 15px;
        vertical-align: middle;
        display: inline-block;
        @media #{$max-xsm}{
            padding-right: 10px;
            max-width: 100%;
        }
    }
    .table td a{
        text-decoration: none;
        &:hover{
            color:$primary;
        }
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #596380;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #596380;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: #596380;
      }
}
.pop_main_h{
    margin-bottom: 25px;
}
.cmn_modal{
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $white;
        opacity: 1; /* Firefox */
        font-weight: 400;
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:$white;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color:$white;
      }
      .form-group{
        margin-bottom: 48px;
        @media #{$max-xxl}{
            margin-bottom: 40px;
        }
        
        
        label{
            margin-bottom: 15px;
        }
        .inpt_fld_hlpr_txt{
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
        }
      }
}
.cmn_modal p{
    color: $white;
} 
.cmn_modal input[type="text"], .cmn_modal  input[type="email"]{
    background-color: $body-bg-800;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 10px;
    border:0;
    font-size: 16px;
    font-weight: 400px;
    color: $white;
    @media #{$max-xxl}{
        padding:9px 20px
    }
} 
// .mr-top-50{
//     margin-top: 50px;
//     @media #{$max-xl}{
//         margin-top: 40px;
//     }
//     @media #{$max-lg}{
//         margin-top: 35px;
//     }
//     @media #{$max-sm}{
//         margin-top: 30px;
//     }
//     @media #{$max-xsm}{
//         margin-top: 20px;
//     }
// }
.shib-popup{
    &.dark-modal-100{
        .modal-content{
            background-color: $body-bg-800;
            input{
                background-color: $body-bg;
                color: rgba($white, 0.89);
                padding: 15px 25px;
                @media #{$max-xxl}{
                    padding:10px 25px
                }
                &:hover{
                    box-shadow: none;
                }
                &:focus{
                    box-shadow: none;
                }
                &::placeholder{
                    color: rgba($white, 0.89);
                }
            }
        }
    }
    .modal-content{
        // background-color: $body-bg-800;
        background-color:$body-bg;
        border-radius: 40px;
        padding: 32px 20px;
        overflow: hidden;
        @media #{$max-xxl}{
            padding: 30px 20px;
            border-radius: 30px;
        }
        @media #{$max-lg}{
            border-radius: 20px;
        }
        @media #{$max-md}{
            border-radius: 16x;
        }
        @media #{$max-sm}{
            border-radius: 12x;
        }
        .modal-header{
            border: 0;
            text-align: center;
            font-weight: 600;
            margin: 0 auto;
            justify-content: center;
            width: 100%;
            position: relative;
            padding-top: 0;
            padding-bottom: 32px;
            text-align: center !important;
            @media #{$max-sm}{
                padding-bottom: 15px;
            }
            
            .btn-close{
                position: absolute;
                right: 50px;
                background-image: url('../../../images/pop-close.png') !important;
                background-repeat: no-repeat;
                opacity: 1;
                padding: 5px 0;
                box-shadow: none;
                outline: none;
                &:hover{
                    box-shadow: none;
                    border: 0;
                    opacity: 0.8;
                }
                &:focus{
                    box-shadow: none;
                    border: 0;
                }
            }
        }
    }
    .modal-body{
        padding: 0;
    }
    .form-control{
        background-color: transparent;
        padding: 0;
        border:0
    }
    .pop_btns_area.form-control{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}
.btn-sm {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}
input{
    color: $body-bg;
}
label{
    font-size: 16px;
}

body {
    // padding-left: 0 !important;   
    // padding-right: 0 !important;
}
.modal{
    padding-right: 0 !important;
}
.whitespace-nowrap {
    white-space: pre-wrap;
    word-break: break-all;
}
.fw-700{
    font-weight: 700 !important;
}
.fw-600{
    font-weight: 600 !important;
}
.right-arrow  .scrolldown-container {
    transform: rotate(270deg);
}
.scrolldown-container {
//   background: #000;
//   width: 100%;
//   height: 100vh;
  position: relative;
  margin-bottom: 20px;
//   background: #191947;
}
.scrolldown-container .scrolldown-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  @media #{$max-xxl}{
    width: 40px;
  }
}
.scrolldown-container .scrolldown-btn svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: auto;
}
.scrolldown-container .scrolldown-btn svg path.first-path {
  animation: scrollanim 1s ease-in-out infinite;
  animation-delay: 0.8s;
}
.scrolldown-container .scrolldown-btn svg path.second-path {
  animation: scrollanim2 1s ease-in-out infinite;
}

@-webkit-keyframes scrollanim {
  0% {
    -webkit-transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translate(0, 0);
    opacity: 0.8;
  }
}
@-moz-keyframes scrollanim {
  0% {
    -moz-transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -moz-transform: translate(0, 0);
    opacity: 0.8;
  }
}
@keyframes scrollanim {
  0% {
    -webkit-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0.8;
  }
}
@-webkit-keyframes scrollanim2 {
  0% {
    -webkit-transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translate(0, 0px);
    opacity: 0.6;
  }
}
@-moz-keyframes scrollanim2 {
  0% {
    -moz-transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -moz-transform: translate(0, 0px);
    opacity: 0.6;
  }
}
@keyframes scrollanim2 {
  0% {
    -webkit-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
    opacity: 0.6;
  }
}

   
// override scss
.login-dialog-container.v-card[data-v-6030e440] {
    background: $body-bg-800 !important;
}

.login-dialog-container.v-card .login-header[data-v-6030e440] {
    background: $body-bg-800 !important;
    border-bottom: 1px solid rgba($white,0.89) !important;
}
.login-dialog-container.v-card .footer-links[data-v-6030e440] {
    background:$body-bg-800 !important;
}
.login-btn[data-v-5acd22a6] {
    background:$body-bg;
    border: 1px solid rgba($white,0.89);
}


// pr test
.login-dialog-container.v-card .footer-links[data-v-6030e440] {
    background:$body-bg-800 !important;
}
.login-btn[data-v-5acd22a6] {
    background:$body-bg;
    border: 1px solid rgba($white,0.89);
}
