.wrapper {
    padding-top:126px;
    @media #{$max-xxxl}{
        padding-top: 82px;
    }
}

.primary-bg{
    background-color: $primary_color !important;
}
.secondary-bg{
    background-color: $secondary_color !important;
}
.primary-bg2{
    background-color: $primary !important;
}
.lightbg{
    background-color: $primary-50 !important;
}
.whitebg{
    background-color: $white !important;
}
.darkbg{
    background-color: $darkbg !important;
}
.darkbg-2{
    background-color: $black !important;
}
.darkbg-3{
    background-color: $black3 !important;
}
.success-bg{
    background-color: $sucsses !important;
}
.card-primary {
    border: solid 1px #fea500;
    background-color: #fff0d4;
}
.card-blue {
    border: solid 1px #09287a;
    background-color: #dce5fd;
}
.card-green {
    border: solid 1px #437c1d;
    background-color: #daf5c9;
}
.card-dark{
    background-color: $black;
}
.dark-text{
    color: $dark-color !important;
}
.mute-text{
    color: #606060 !important;
}
.mute-text-2{
    color:#6a6a6a !important;
}

.primary-text-3{
    color: $primary_color3 !important;
}
.grad-text{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;background-image: linear-gradient(to top, #000000, #030733);
}

.up-text{
    color: $sucsses !important;
}
.down-text{
    color: $primary;
}
.heading-bg {
    display: inline-block;
    padding: 0px 8px;
    position: relative;
    z-index: 1;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transform: translate(0 , -3px);
        background-color: $primary;
        z-index: -1;
    }
}
 
.ban-bg{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        @media #{$min-lg}{
            background-image: url('../../images/banner-bg.jpg');
        }
        @media #{$max-lg}{
            background-image: url('../../images/banner-mob.jpg');
        }
        @media #{$max-xxxl}{
            background-size: 100%;
            background-position:bottom;
        }
    }
    &>div{
        position: relative;
    }
}

.banner-pad {
    padding-top: 200px;
    padding-bottom: 180px;
    @media #{$max-xxxl}{
        padding-top: 180px;
        padding-bottom: 210px;
    }
    @media #{$max-xl}{
        padding-top: 170px;
        padding-bottom: 140px;
    }
    @media #{$max-lg}{
        padding-top: 160px;
        padding-bottom: 50%;
    }
    @media #{$max-md}{
        padding-top: 140px;
        padding-bottom: 50%;
    }
    @media #{$max-sm}{
        padding-top: 120px;
        padding-bottom: 50%;
    }
    @media #{$max-sm}{
        padding-bottom: 50%;
    }
}
.main-title{
    font-weight: bold;
    letter-spacing: 7.41px;
    position: relative;
    font-size: 72px;

    &::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width:30%;
        height: 3px;
        background: $primary;
        max-width: 100%;
    }
    @media #{$min-exl}{
        font-size: 99px;
    }
    @media #{$max-xxxl}{
        font-size: 72px;
    }
    @media #{$max-xxl}{
        font-size: 62px;
        letter-spacing: 2px;
    }
    @media #{$max-xl}{
        font-size: 52px;
    }
    @media #{$max-lg}{
        font-size: 42px;
    }
    @media #{$max-md}{
        font-size: 38px;
    }
    @media #{$max-sm}{
        font-size: 28px;
    }
    @media #{$max-xsm}{
        font-size: 24px;
    }
}
.sub-title{
    font-weight: 300;
    font-style: normal;
    line-height: 0.95;
    letter-spacing: 5.97px;
    @media #{$max-xxl}{
        letter-spacing: 2px;
        line-height: 1.2;
    }
}

.title-2{
    font-size: 58px;
    font-weight: 600;
    @media #{$max-xxxl}{
        font-size: 48px;
    }
    @media #{$max-xl}{
        font-size: 38px;
    }
    @media #{$max-lg}{
        font-size: 34px;
    }
    @media #{$max-md}{
        font-size: 32px;
    }
}

.heading-desc{
    font-size: 22px;
    @media #{$max-xl}{
        font-size:20px;
    }
    @media #{$max-lg}{
        font-size:18px;
    }
    @media #{$max-md}{
        font-size:16px;
    }
    @media #{$max-xsm}{
        font-size:14px;
    }
}

.cus-hr{
    width: 28px;
    height: 4px;
    margin-bottom: 10px;
}
.hr-line{
    width: 100%;
    height: 1px;
    background-color:#353535;
}
.hdr-before {
    position: relative;
    padding-left: 16px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: calc(100% - 20px);
        background-color: $primary;
        transform: translate(0, 5px);
    }

}
/** common style start **/
.balance-btns, .user-action{
    button:hover, a:hover, a:focus{
        color:$white;
    }
} 
// .right-sec{
//     padding: 45px;
//     width: calc(100% - 200px);
//     margin-left: auto;
//     @media #{$max-lg} {
//        padding: 20px;
//        width: 100%;
//        margin:0;
//       }
// }
.cus-chkbox {
    margin-right: 35px;
    @media #{$max-xxl} {
        margin-right: 25px;
    }
    @media #{$max-xl} {
        margin-right: 15px;
    }
}
.low-radius{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -o-border-radius: 12px;
    -ms-border-radius: 12px;
    -moz-border-radius: 12px;
}
.light-text{
    color:$white;
}
.sec-spc-low{
    padding: 40px 40px 30px;
    @media #{$max-sm} {
        padding: 25px 25px 15px;
    }
}
.blue-bg{
    background-image: linear-gradient(to bottom, #011e6d, #00195e, #001350, #000d42, #000235);
}

.bg-grad{
    background-image: linear-gradient(to top, #082777, #030733);
}

.uppercase-txt{
    text-transform: uppercase;
}
.bordered-btn{
    background: transparent;
    border: 1px solid $white;
}
.low-font-wt{
    font-weight: 100;
}

.head-xsm{
    font-size: 16px;
}
.botom-space-md {
    margin-bottom: 30px;
}
.top-low-spc{
    padding-top: 4px;
    @media #{$max-xxl} {
        padding-top: 2px;
    }
}
.cus-chkbox{
    .form-check-input:checked{
        background-color: $primary;
        border-color: $primary;
    }
}
.cus-chkbox{
    .form-check-input:focus{
        box-shadow: none;
    }
}
.cus-chkbox{
    .form-check-input{
        background-color: $primary;
        border: 1px solid $primary;
        cursor: pointer;
    }
}
.cus-search {
    border: 1px solid #414042;
    padding: 15px 15px 9px 45px;
    font-size: 14px;
    border-radius: 30px;
    background: $black3;
    color:$white;
    @media #{$max-xsm}{
        font-size: 12px;
        padding:10px 10px 10px 30px;
    }
    @media #{$max-xxsm}{
        font-size: 10px;
        padding: 8px 8px 8px 30px;
    }
    
}
.search-box  {
    img{
        position: absolute;
        left: 20px;
        top: 16px;
        @media #{$max-xsm}{
                left: 13px;
                top: 13px;
                max-width: 10px;
        }
        @media #{$max-xxsm}{
            top: 10px;
        }
    }
   
}
.search-box{
    input::placeholder{
        color:$white;
    }
}
.search-box {
    width: 44%;
    @media #{$max-xxl} {
        width: 40%;
    }
    @media #{$max-xl} {
        width: 65%;
    }
}
.outer-table{
    margin-top: 20px;
}
.table-header{
    background: $black3;
    color: $white;
}

.outer-table{
    overflow-x: auto;
}
.tb-data {
    padding: 0 5px 0 0px;
    color: $white;
    font-weight: 600;
    font-size: 16px;
}
.tb-data-sm {
    color: $white;
    font-size: 13px;
    font-weight: 600;
}
.btn-small {
    padding: 10px 15px 5px;
    border-radius: 25px;
    color: $white;
    margin-right: 10px;
    font-weight: 700;
    font-size: 11px;
}
.btn-primary-outline {
    border: 1px solid $primary;
    color: $primary;
    &:hover{
        background-color: $primary;
        color: rgba($white,0.85);
    }
}
.success-btn{
    background: $green-color;
}
.success-color{
color:$green-color;
}
.primary-btn{
    background: $blue-color;
    &:hover{
        color: $white;
    }
    &:focus{
        color: $white;
    }
}
.warning-btn{
    background: $primary-gradient;
    color: $white;
    //box-shadow: -2px 2px 0px 1px $primary;
    &:hover{
        color: $white;
    }
    &:focus{
        color: $white;
    }
}
.info-btn{
    background: $secondary-color4;
    box-shadow: -2px 2px 0px 1px $secondary-color3;
    &:hover{
        color: $white;
    }
    &:focus{
        color: $white;
        box-shadow:  1px 3px 1px $secondary-color3;
    }
}
.user-action{
    .btn-small:last-child{
        margin-right: 0;
    }  
}
.badge-sm {
    background: $primary;
    color: $white;
    font-weight: 800;
    font-size: 10px;
    padding: 6px 5px 1px;
    border-radius: 25px;
}
.data-table{
    .tb-data-sm{
        margin-right: 10px;
    }
}
.cus-pagination{
    .page-link{
        border:none;
        background: $black;
        font-weight: 700;
    }
    .page-link:focus{
        box-shadow: none;
    }
}
.cus-pagination{
    .page-item {
        margin-right: 15px;
        &.disable {
            opacity: 0.5;
            pointer-events: none;
        }
    }
    .page-item:last-child {
        margin-right: 0;
    }
}
.cus-pagination{
    .page-item {
       a{
           color:$white;
           border-radius: 5px;
           font-size: 18px;
           padding: 7px 13px 2px;
           color:$white;
           border: 1px solid $primary;
            @media #{$max-xl} {
                font-size: 15px;
            }
            @media #{$max-xsm} {
                font-size: 14px;
                padding: 5px 10px 0px;
            }
           span{
            transition: none;
           }
       }
       a:hover{
        background: $primary;
        color:$white;
       }
       &.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: $primary;
        border-color: $primary;
    }
    }
}
.box-head{
    background: $black;
    padding: 20px 35px 20px 20px;
    position: relative;
}
.box{
    background: $darkbg;
    // box-shadow: 0px 10px 20px $grey-color;
    // -webkit-box-shadow: 0px 10px 20px $grey-color;
    // -o-box-shadow: 0px 10px 20px $grey-color;
    // -ms-box-shadow: 0px 10px 20px $grey-color;
    // -moz-box-shadow: 0px 10px 20px $grey-color;
    padding: 2px 2.5px 2px 2px;
    border: 1px solid #414042;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    height: 100%;
}
.round-blk {
    background: $white;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 49px;
    margin-right: 20px;
    overflow: hidden;
}
.warning-color{
    color:$primary;
}
.box-body {
    padding: 20px;
}
.list-sec li {
    display: inline-block;
    padding-right: 2px;
}
.list-sec {
    margin-top: 10px;
}
.side-space {
    padding: 0 30px;
    margin: 0 0 60px;
    @media #{$max-xxl} {
        padding: 0 15px;
        margin: 0 0 30px;
    }
}
.side-cover{
    margin: 0 -30px;
    @media #{$max-xl} {
        margin: 0 -15px;
    }
}
.vertical-align{
    vertical-align: sub;
}
.circle-blk {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    background: $primary_color;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    right: 10px;
    left: auto;
    top: 10px;
    line-height: 27px;
}
.heading-sec{
    margin-bottom: 35px;
    @media #{$max-xxl} {
        margin-bottom: 20px;
    }
}
.align{
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -o-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -moz-transform: translateY(2px);
}
.rt-border {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.rt-border {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    @media #{$max-sm} {
        border:none;
    }
}
.left-space{
    padding-left: 70px;
    @media #{$max-xxl} {
        padding-left:50px;
    }
    @media #{$max-xl} {
       padding-left:70px;
    }
    @media #{$max-md} {
        padding-left:65px;
     }
     @media #{$max-sm} {
        padding-left:15px;
     }
}
.card-box {
    padding: 20px 15px;
    border-radius: 8px;
    background-color: $black3;
    border:transparent;
}

.border-orange{
    border:1px solid $lt-orange;
}
.stats-blk, .cus-alert {
    display: flex;
}
.burn-image {
    margin-right: 25px;
}
.btn-sec{
    padding: 20px 0 0;
}
.button-light{
    background: $white6;
    color: $white5;
}
.lightborder{
    box-shadow: 1px 3px 1px #e2e3e4;
}
.btn-sec{
    .btn{
        min-width: 200px;
    }
}
.cus-alert {
    padding: 15px;
    background: $white;
    border-radius: 4px;
    color: $black2;
    font-weight: 600;
    font-size: 16px;
    margin-top: 35px;
    @media #{$max-sm} {
        font-size: 14px;
    }
}
.botom-spacing {
    padding-bottom: 50px;
    
}
.shiba-token{
    .botom-space-md{
        @media #{$max-sm} {
            margin-bottom: 0;
        }
    }
}
.table-lt-txt{
    .tb-data{
        padding-left: 0;
    }
    td{
        color: $white;
    }
}
.txt-light {
    color: $white5;
}
.mob-filter{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    @media #{$max-lg}{
        justify-content: flex-start;
    }
    @media #{$max-sm} {
        width: 100%;
        margin-bottom: 20px;
        text-align: left !important;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
// .main-content{
//     width: 100% !important;
// }
/** common style end **/
.left-border {
    position: relative;
    padding-left: 12px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: 65%;
        width: 3px;
        background: $primary;
        transform: translateY(0px);
    }
}
.modal{
    padding-left: 0 !important;
}

.cus-dd{
    .dropdown-toggle::after {
        content: "";
        position: absolute;
        left: auto;
        z-index: 11;
        display: block;
        width: 8px;
        height: 8px;
        border-right: 0;
        border-top: 2px solid $white;
        border-left: 2px solid $white;
        top: 50%;
        right: 0;
        transform: translateY(-50%) rotate(225deg);
        margin-top: -4px;
    }
    .nav-link{
        font-weight: 600;
        color: $dark-color;
        padding-left: 0;
    }
}
// tabs design
.nav-wrap{
    .nav-pills {
        box-shadow: 0px 4px 5px -3px rgb(0 0 0 / 8%);
        background-color: $black;
        border-radius: 30px;
        padding: 8px 12px;
        .nav-link{
            font-weight: bold;
            font-size: 14px;
            color: $white;
            border-radius: 30px;
            &.active{
                background-color: $primary;
                color: $white;
            }
        }
    }
}
.fnt-58{
    font-size: 58px;
    @media #{$max-xxl} {
        font-size: 48px;
    }
    @media #{$max-lg} {
        font-size: 38px;
    }
    @media #{$max-sm} {
        font-size: 32px;
    }
}
.fnt-100{
    font-weight: 100;
}
.sec-spc-high {
    padding: 95px 0px 80px;
    @media #{$max-md} {
        padding: 45px 0 35px;
    }
}
.container-md{
    max-width: 1000px;
    margin: 0 auto;
}
.tab-50{
    .nav-item{
        width: 50%;
        text-align: center;
    }   
}
.cus-switch{
    .form-check-input:focus{
        box-shadow: none;
    }
}
.cus-switch {
    vertical-align: middle;
}
/** switch style start **/
.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 24px;
    @media #{$max-xxl} {
        vertical-align: top;
    }
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: $white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $primary-orange;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    -o-ms-transform: translateX(18px);
    -moz-ms-transform: translateX(18px);
    transform: translateX(18px);
    background: $primary;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/** switch style end **/
.cus-dropdown{
    .dropdown-toggle::after{
        content:none;
    }
}
.cus-dropdown{
    .btn-primary:focus{
        box-shadow: none !important;
    }
    .btn{
        background: $black3;
        border: 1px solid #414042;
        color:$white;
        border-radius: 30px;
        padding: 10px 50px 10px 20px;
        font-weight: 700;
        &:focus{
            box-shadow: none;
        }
    }
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .arrow.down{
    position: absolute;
    right: 20px;
    left: auto;
    bottom: auto;
    top: 15px;
    pointer-events: none;
  }
  .arrow {
    border: solid $white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.cus-dropdown.show >{
        .btn-primary.dropdown-toggle{
            // background: $white2;
            // color: $greycolor5;
            // border-color: transparent;
           // background:$black3;
            border: 1px solid #414042;
            background:$black3;
        }
    }
.view-blk{
    border: 1px solid $white2;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -o-border-radius: 9px;
    -ms-border-radius: 9px;
    -moz-border-radius: 9px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.white-image{
    display: none;
}
.view-blk.view-active{
    border: 1px solid transparent;
    background: $primary;
}
.view-blk.view-active{
   .white-image{
       display: inline-block;
   }
   .grey-image{
       display: none;
   }
}
.botom-space-lg{
    margin-bottom: 65px;
}
.user-icon{
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: $primary;
    line-height: 28px;
    margin-right: 15px;
}
.user-icon:before {
    content: '';
    width: 10px;
    height: 10px;
    background: $white;
    display: inline-block;
    border-radius: 50%;
}
/** common style end **/
.data-table{
    // border: 1px solid $lt-orange;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    // @media #{$max-xl} {
    //    width: 920px;
    // }
    // @media #{$max-lg} {
    //     width: 960px;
    //  }
     tr{
        td{
            &:last-child{
                // border-bottom:none;
                text-align: right;
            }
        }
        th{
            padding: 25px 20px 20px;
            color:$white;
            font-size: 16px;
            white-space: nowrap;
            &:first-child{
                border-radius: 10px 0 0 0;
            }
            &:last-child{
                border-radius: 0 10px 0 0;
                text-align: right;
            }
        }
        td{
        padding: 20px 20px 15px;
        font-size: 16px;
        border-bottom:1px solid $black3;
        white-space: nowrap;
        &:last-child{
            text-align: right;
        }
        }
    }
    tbody{
        background-color: $black2;
    }
}
.table-wrap{
    border-radius: 10px;
     tr{
        td{
            &:last-child{
                text-align: right;
            }
        }
        th{
            padding: 25px 20px 20px;
            color:$white;
            font-size: 16px;
            white-space: nowrap;
            &:first-child{
                border-radius: 10px 0 0 0;
            }
            &:last-child{
                border-radius: 0 10px 0 0;
                text-align: right;
            }
        }
        td{
        padding: 20px 20px 15px;
        font-size: 16px;
        border-bottom:1px solid $black3;
        white-space: nowrap;
        &:last-child{
            text-align: right;
        }
        }
    }
    tbody{
        background-color: $black2;
    }
}
.center-head {
    display: block;
    width: 245px;
    margin-left: auto;
}

.tbsm-txt {
    font-style: normal;
    font-size: 13px;
}
.lnht{
    line-height: 18px;
}
// table style end

.char-block {
    position: absolute;
    right: 0;
    top: auto;
    bottom: -4px;
    left: auto;
    @media #{$max-xxxl}{
        max-width: 580px;
    }
}
.char-block {
   @media #{$max-lg} {
        display: none;
    } 
    
}
.delegatorgrid-sec{
    .user-icon{
        width: 40px;
        height: 40px;
        line-height: 55px;
    }
    .user-icon:before{
        width: 21px;
        height: 21px;
    }
    .filter-sec{
        margin-bottom: 35px;
    }
    .box-head{
        padding: 20px;
    }
    .side-cover {
        margin: 0 -25px;
        @media #{$max-xxl} {
            margin: 0 -15px;
        }
    }
    .side-space{
        padding: 0 25px;
        margin: 0 0 40px;
        @media #{$max-xxl} {
            padding: 0 15px;
            margin: 0 0 30px;
        } 
    }
    
}
.ft-16{
    font-size: 16px;
}
.ft-14{
    font-size: 14px;
}
.ft-22{
    font-size: 22px;
    @media #{$max-lg} {
        font-size: 20px;
    }
    @media #{$max-md} {
        font-size: 18px;
    } 
    @media #{$max-xsm} {
        font-size: 17px;
    } 
}
.ft-20{
    font-size: 20px;
    @media #{$max-md} {
        font-size: 18px;
    }
}
.grey-color{
    color:$greycolor6;
}
.arrow-after{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        left: auto;
        transform: translateY(-50%);
        background-image: url('../../images/arrow-right.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        width: 15px;
        height: 14px;
    }
}
.center-sec{
    max-width: 100%;
    margin: 0 auto;
    color:$white;
}
.black-color{
    color:$dark-color;
}


.card-banner {
    padding: 80px 0 120px;
}

.primary-text{
    color: $primary;
    &:hover{
        color: $primary;
    }
    &:focus{
        color: $primary;
    }
}
.secondary-text{
    color: $secondary-color3;
}
.green-50{
    background-color: #daf5c9 !important;
}
.blue-50{
    background-color: #dce5fd !important;
}
.shades-50{
    background-color: #f9d2bc !important;
}
.purple-50{
    background-color: #ecd5fd !important;
}

// progress bar style
.progresbar-wrap{
    padding-bottom: 48px;
    .prog-group {
        position: relative;
        .prog-label {
            background-color: #f06700;
            padding: 4px 12px 1px;
            border-radius: 30px;
            position: absolute;
            bottom:-48px;
            font-weight: bold;
            color: #fff;
            text-align: center;
            &::before {
                content: '';
                position: absolute;
                top: -10px;
                left: 50%;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #f06700;
                transform: translateX(-50%);
            }
            &::after {
                content: '';
                position: absolute;
                top:-30px;
                left: 50%;
                transform: translateX(-50%);
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: #f06700;
                z-index: 1;
            }
        }
        .progress{
            position: relative;
            height: 8px;
            background-color: #fff0d4;
        }
        .progress-bar {
            background-color: #f06700;
            border-radius: 30px;
            
        }
    }
}

.box-alert{
    border-radius:7px;
    -webkit-border-radius:7px;
    -o-border-radius:7px;
    -ms-border-radius:7px;
    -moz-border-radius:7px;
    padding: 15px;
    cursor: pointer;
    background: $darkbg;
    border:1px solid #575757;
}
.box-alert:hover, .box-alert.box-active{
    background: $black;
    border:1px solid #575757;
    // box-shadow: -1px -1px 20px #ccc;
    // -webkit-box-shadow: -1px -1px 20px #ccc;
    // -o-box-shadow: -1px -1px 20px #ccc;
    // -ms-box-shadow: -1px -1px 20px #ccc;
    // -moz-box-shadow: -1px -1px 20px #ccc;
    .circle-box{
        background: $primary;
    }
}
.circle-box {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    background:$primary;
}
.opacity{
    opacity:0.6;
}
.top-space-lg {
    margin-top: 30px;
}
.link-color{
    color:$primary;
}
.top-btm-spacelg{
    margin: 35px 0;
}
.ft-normal{
    font-style: normal;
}
.step-vertical {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @media #{$max-lg}{
        margin-right: 0;
        flex-direction: row;
        padding-bottom: 40px;
    }
    .step-list {
        position: relative;
        text-align: right;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 60px;
        height: 100%;
        min-height: 90px;
        @media #{$max-lg}{
            text-align: center;
            padding-right: 0;
            width: 100%;
            min-height: auto;
            padding-bottom: 30px;
        }
        &::before {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            right: 19px;
            left: auto;
            width: 2px;
            height: 100%;
            background: #dddddd;
            @media #{$max-lg}{
                top: auto;
                right: 0;
                left: 0;
                width: 100%;
                height: 2px;
            }
        }
        &.active{
            &::before {
                background:#f06700;
            }
            .step-blk {
                background:#f06700;;
                color: #ffffff;
                border-color: transparent;
            }
        }
        &.completed{
            .step-num{
                display: none;
            }
            .step-blk {
                background: #f06700;
                border-color: #f06700;
            }
            .tick-img{
                display: inline-block;
            }
        }
        .tick-img{
            display: none;
        }
        .step-float{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            @media #{$max-lg}{
                top: auto;
                left: 50%;
                transform: translateX(-50%);
                bottom: -15px;
            }
        }
        p{
            margin-bottom: 0;
            transform: translateY(3px);
            @media #{$small-mobile}{
                font-weight: bold;
                font-size: 12px;
            }
        }
    }
}
.right-section{
    width: 340px;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top:80px;
    right:0;
    left:auto;
    bottom: 0;
    background:  $black3;
    
}
.header-secondary{
    background: $black3;
}
.left-section{
    width: calc(100% - 340px);
    margin-right: auto;
    min-height: 100vh;
    background: $black;
    height: 100%;
}
.bar-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1110px;
    margin-left: auto;
}
.white-box {
    border: 1px solid $white;
    background-color: $white;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    text-align: center;
    line-height: 42px;
}
.notify-header{
    background: $black;
    padding: 30px;
    color: $white;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
   
}

.notification-box {
    width: 680px;
    max-width: 100%;
    position: absolute;
    top: 160px;
    left: 210px;
    border:1px solid #404040;
    border-radius: 5px;
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 16px;
    }
}
.body-wraper {
    position: relative;
}
.notify-body{
    background: #141319;
    padding: 49px 60px;
    border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    -o-border-radius:0 0 5px 5px;
    -ms-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
}

.side-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid #353535;
    .btn{
        padding: 6px 12px;
        font-weight: 600;
    }
    p{
        color: $white;
    }
}
.side-form{
    .form-group {
        margin-bottom: 30px;
    }
    .form-control{
        background-color: #000;
        padding: 8px 16px;
        &:focus{
            box-shadow: none;
        }
        &::placeholder{
            transform: translateY(2px);
        }
    }
    
}
.labe-justify {
    display: flex;
    justify-content: space-between;
    label{
        font-weight: 600;
        margin-bottom: 8px;
    }
}
.clock {
    position: absolute;
    right: 30px;
    top: 42px;
}
.side-form.timer{
    input{padding-right: 35px;}
}
.position-blk{
    background: $black;
    border-radius: 4px;
    width: 48px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    position: relative;
    border:1px solid transparent;
}
.position-blk.brick-active{
    border:1px solid $primary;
    .position-brick{
        background:$primary;
    }
}
.position-brick{
    background:$greycolor3;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    position: absolute;
}
.left-position{
    .position-brick{
        top:5px;
        left:5px;
    } 
}
.botom-position{
    .position-brick{
        bottom: 5px;
        left: 5px;
    }
}
.center-position{
    .position-brick{
        top: 12px;
        right: 14px;
    }
}
.right-botom-position{
    .position-brick{
        bottom: 5px;
        right: 5px;
    }
}
.edge-spacing {
    padding: 20px 0 40px;
}
.token{
    margin-bottom: 35px;
}
.black_clr_box{
    background-color: $darkbg;
}
input[type="text"]::placeholder{
    color:$white !important;
}
input{
    color: $white;
}
.dark_bg{
    background-color: $darkbg;
}
.navbar-toggler-icon {
    // background-image: escape-svg($navbar-light-toggler-icon-bg);
    background-image: url('../../images/bars-solid.png') !important;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.btn-nav{
    .nav-pills {
        .nav-item{
            margin-right: 12px;
            &:last-child{
                margin-right: 0;
            }
            @media #{$max-xsm}{
                margin-right: 10px;
            }
            .nav-link {
                background: none;
                border-radius: 30px;
                background-color:$black3;
                font-weight: 600;
                color: rgba($white,0.85);  
                &.active{
                    background: $primary;
                }
                @media #{$max-sm}{
                    font-size:12px;
                    padding: 5px 10px;
                }
            }
        }
    }
}

.table-data {
    tr{
        border-bottom:1px solid #212027;
        &:last-child{
            border-bottom: 0;
        }
    }

    td {
        border: 0;
        color: rgba($white,0.85);
        &:last-child{
            padding-right: 20px;
        }
        &:first-child{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .td-arrow {
        transform: translateY(-1px) rotate(-90deg);
        margin-left: 10px;
    }
    .td-data {
        font-size: 22px;
        font-weight: 600;
        margin-right: 10px;
        @media #{$max-sm}{
            font-size: 18px;
        }
    }
    .td-arrow {
        transform: translateY(-1px) rotate(-90deg);
        margin-left: 10px;
    }
    .arrow-round {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        border-radius: 100%;
        &.up {
            background:$sucsses;
            img{
                transform: translateY(-1px) rotate(90deg);
            }
        }
        &.down {
            background:$primary;
            img{
                transform:translateY(1px) rotate(-135deg);
            }
        }
    }
}
.no-break {
    white-space: nowrap;
}


.selection-sec{
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0;
    max-width: 470px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        background-size: 100% 110%;
        background-repeat: no-repeat;
        background-position: center;
        @media (min-width:480px){
            background-image: url('../../images/animation.gif');
        }
        @media(max-width:479.98px){
            background-image: url('../../images/gif-sm.gif');
            background-size: contain;
            margin: 0 auto;
            width: calc(100% - 144px);
        }
        
        // @media #{$max-xsm}{
        //     // display: none;
        // }
    }
    @media #{$max-sm}{
        margin: 100px auto 30px
    }

    .coin-desc {
        margin-top: 10px;
    }
}
// .circle-pink{
//     //background: url('../../images/pink-net.svg') no-repeat;
//     border: 1px solid $pink_color;
//     box-shadow: $pink_color 0px 0px 6px;
// }
.circle-pink, .circle-blue{
    width: 145px;
    height: 145px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    // line-height: 145px;
    text-align: center;
    background-size: cover;
    overflow: hidden;
    @media #{$max-xxl}{
        width: 130px;
        height: 130px;
    }
    @media(max-width:479.98px){
        width: 90px;
        height: 90px;
    }
    @media (max-width:375px){
        width: 75px;
        height: 75px;
    }
    // @media #{$max-xsmm}{
    //     width: 115px;
    //     height: 115px;
    // }
    
}
// .circle-blue{
//     // background: url('../../images/blue-net.svg') no-repeat;
//     border: 1px solid $blue-color2;
//     box-shadow: $blue-color2 0px 0px 6px;
// }
.tokn-txt {
    font-size: 14px;
    color: #a3a39a;
    top: 50px;
    position: absolute;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    @media #{$max-xxl}{
        top: 48px;
     }
    @media #{$max-sm}{
        top:44px;
    }
    @media #{$max-xsmm}{
        top: 34px
    }
    @media #{$max-sm}{
        display: none;
    }
}
.img-dimension {
    width: 201px;
    height: auto;
    @media #{$max-xxl}{
       width: 250px;
    }
    @media #{$max-sm}{
        width: 242px;
    }
    @media #{$max-xsmm}{
        width: 170px;
    }
}
.lft-roundblk, .rt-roundblk{
    z-index: 2;
    position: relative;
    // background: $darkbg;
    // border-radius: 100%;
    &::before{
        @media #{$max-xsm}{
            background-image: url('../../images/animation-sm.gif');
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
.bluenet-blk, .pinknet-blk{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    img{
        width: 100%;
    }
}
.coinimage-sec {
    position: absolute;
    top: 50%;
    left:calc(50% + 6px);
    transform: translate(-50% , -50%);
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$max-xsm}{
        left:calc(50% + 1px);
    }
    span {
        display: block;
        margin-top: 8px;
        color: $grey_light;
        @media (max-width:375px){
            margin-top: 2px;
        }
    }
    .coin-wrap {
        width: 30px;
        margin: 0 auto;
        max-width: 100%;
        @media (max-width:479.98px){
            max-width: 25px;
            margin: 0 auto;
            transform: translateX(0);
        }
        @media (max-width:375px){
            max-width: 20px;
        }
    }
}
.center-graph {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: calc(100% - 266px);
    margin: 0 auto;
    transform: translateY(-50%);
    z-index: 1;
    @media #{$max-xxl}{
        width: calc(100% - 220px);
    }
    @media #{$max-sm}{
        width: calc(100% - 210px);
    }
    @media #{$max-xsm}{
        width: 250px; 
    }
}
.orange-dropdown{
    .btn{
        background: $primary;
        border:none;
    }
}
.orange-dropdown {
    position: absolute;
    left: 50%;
    top: -4px;
    transform: translateX(-50%);
    z-index: 5;
    @media #{$max-xxl}{
        top:-35px;
    }
    @media #{$max-sm}{
        top: -85px;
    }
}
.coin-sec{
    margin-top: 55px;
}
.black-dropdown {
    @media #{$max-sm}{
        bottom: -30px;
    }
}
.coinbtn-sec {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 470px;
    margin:-10px auto 0;
    position: relative;
    z-index: 2;
    @media #{$max-xxl}{
        margin: -6px auto 0;
     }
    @media #{$max-sm}{
        margin:0 auto 0;
    }
    @media #{$max-sm}{
        flex-direction: column;
    }
}
.coinimage-sec{
    img{
        // @media #{$max-sm}{
        //     max-width: 35px;
        // } 
        // @media (max-width){
        //     max-width: 2;
        // }
    }
}
.chain-sec{
    .cus-alert{
        margin: 75px 0 40px;
        @media #{$max-xxxl}{
            margin: 45px 0 35px;
        }
        @media #{$max-md}{
            margin: 30px 0 40px;
        }
    }
}
.help-txt{
    font-size:13px;
}
.black-btn{
    color: $white;
}
.black-btn{
    background: $black3;
}
.black-btn.btn-active{
    background:$primary;
}
.btns-space{
    margin: 100px 0 30px;
}
.cell-width{
    width: 205px;
}
.cell-width-lg{
    width: 320px;
}
.cus-card{
    h3{
        color: $white;
    }
}
.primary-badge{
    &:hover{
        color:$white;
    }
}
.navbar-light{
    .navbar-nav{
        .nav-link{
            &:focus, &:hover{
                color:rgba(255, 255, 255, 0.8) !important;
            }
        }
    }
}  
.black-btn{
    background-color: $black;
}

.gas_token .swap-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    @media #{$max-md}{
        flex-wrap: wrap;
        .cstm_values span.outr_span {           
            font-size: 12px;
            padding: 13px 11px; 
        }
    } 
    .cstm_values span.outr_span {           
        @media #{$max-sm}{
            padding: 10px 8px;
        }
        @media #{$max-xsm}{
            padding: 6px 8px;
        }
    }

}
.cstm_values span.outr_span{
    background: #000;
    border-radius: 50px;
    font-size: 14px;
    padding: 14px 13px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    &:last-child{
        margin-right: 0;
    } 
    @media #{$max-xxxl}{
        padding: 6px 17px;
    }
}
.cstm_values{
    .swap-control{
        padding: 6px 15px;
    }
    .swap-flex .over-text {
        top: 8px;
    }
}
.gas_token .swap-flex .swap-input {
    width: 80%; 
}
.gas_token .btn-wrap {
    margin: 0 15px;
    padding: 0 !important;
}
 
@media #{$max-sm}{
    .cstm_values span.outr_span{
        margin-bottom: 10px;
    }
    .cstm_btn { 
        width: 100%; 
    }
    .gas_token .btn-wrap{
        margin: 0;
    }
    .text-end.resp_filter{
        text-align: left !important;
    }
    .blnc_filter .resp_filter .d-inline-block{
        margin: 10px 0;
    }
    .blnc_filter .resp_filter .d-inline-block.cus-chkbox{
        margin-right: 15px;
    }
    .blnc_filter .resp_filter .search-box {
        width: 100%;
    }
    .black_clr_box .left-space {
         padding-left:12px; 
         margin-top: 15px;
    }
}
@media #{$max-xsm}{
    .gas_token .btn-wrap .d-flex {
        padding: 0;
    }
}

// common page style

// account-page validator style
.btn-group-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
    .btn-col {
        flex: 0 0 245px;
        padding: 0 10px;
        margin-top: 10px;
    }
}

.modal-form{
    .form-group {
        margin-bottom: 30px;
        @media #{$max-xxl}{
            margin-bottom: 15px;
        }
        @media #{$max-md}{
            margin-bottom: 12px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.disabled-link {
    pointer-events: none;
}
.dark-dd .dropdown-menu {
    color: rgba($white,0.85);
    background-color: $black;
    border:1px solid #333;
    .dropdown-item{
        color: rgba($white,0.85);
        &:hover{
            background-color:$darkbg;
        }
    }
}
.cus-dropdown{
    &.dd-token{
        &.show > .btn-primary.dropdown-toggle {
            border: 1px solid transparent;
            background: transparent;
        }
        .btn{
            background-color: transparent;
            border-color: transparent;
            padding: 0;
        }
        .arrow.down {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
        }
    }
}
.shib-popup{
    .btn-close{
        font-weight: 700;
        background-image:url('../../images/close.png') !important;
        background-repeat: no-repeat;
        opacity: 1;
        background-size: 21px 22px;
        cursor: pointer;
    }
}
.cross-blk{
    position: absolute;
    right: 20px;
    top: 15px;
    left: auto;
    bottom: auto;
}
.success-color-sec{
    color: $sucsses_color2;
}
.key-txt{
    word-break: break-word;
}
.copy-icon{
    background:url('../../images/copy-wht-icon.png') no-repeat;
    cursor: pointer;
    background-size: contain;
    width: 22px;
    height: auto;
}
.fade-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
}
.loading-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
.spinner-outer{
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.progress-line{
    .progress-bar {
        background-color: #f06700;
    }
    .progress {
        height: 10px;
        font-size: 0.75rem;
        background-color: #000000;
    }
}
.MuiSvgIcon-root{
    fill:$sucsses_color2;
    width: 20px;
    margin-right: 5px;
}

.break-word{
    word-break: break-all;
}
.round-blk, .circle-blk{
    img{
        display: inline-block;
    }
}
.mobile-image {
    margin-right: 40px !important;
    @media #{$max-lg}{
        margin-right: 40px !important;
    }
}
.burger-menu {
    margin-right: 8px;
}
/** Popup css start **/
.box-wrap {
    display: flex;
    justify-content: flex-start;
    margin: 15px 0 0;
}
.image-box{
    margin-right:10px;
    flex: 0 0 30px;
    @media #{$max-xsm}{
        flex: 0 0 20px;
    }
}
.bold-hd {
    font-size: 24px;
    font-weight: 700;
    @media #{$max-xsm}{
        margin-bottom: 22px;
    }
}
.head-sm {
    font-size: 18px;
    margin-bottom: 5px;
}
// .sm-txt {
//     font-size: 14px;
    
// }
.pop-row {
    margin-bottom: 30px;
}
.pop-row {
    &:last-child{
        margin-bottom: 0;
    }
}
.center-align {
    text-align: center;
}
.body-font-sm{
    font-size: 14px;
}
.coin-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15px;
}
.middle-blk {
    flex: 0 0 305px;
    @media #{$max-xsm}{
        flex: 0 0 71%;
        margin-right: 5px;
    }
}
.coin-img {
    flex: 0 0 25px;
}
.scroll-blk {
    height: 130px;
    overflow-y: auto;
    overflow-x: hidden;
}
.amt-name {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 0;
}
.amt-value {
    font-size: 16px;
}
.block-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.shib-popup{
    .modal-body.low-sidespace{
        padding: 49px 35px;
        @media #{$max-lg}{
            padding: 30px;
        }
        @media #{$max-md}{
            padding: 25px;
        }
        @media #{$max-sm}{
            padding: 20px;
        }
    }
}
.arrow-box {
    flex: 0 0 10px;
}
.txt-block {
    padding: 30px 0 0;
}
.block-box.mob-box{
    @media #{$max-sm}{
        flex-direction: column;
    }
    .arrow-box{
        @media #{$max-md}{
            display: none;
        } 
    }
}
.small-step{
    .step-blk{
        width: 34px;
        height: 34px;
        line-height: 36px;
    }
    .steps{
        li{
            font-size: 14px;
        }
    }
    .step{
        p{
            top: 45px;
        }
    }
}
.spiner-blk {
    margin: 40px 0 130px;
}
.fs-18{
    font-size: 18px;
}
/** Popup css end **/

.content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .content-col {
        margin-bottom: 8px;
    }
    .icon {
        background-color: #fff;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
    }
}

.swap-wrap{
    .icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 100%;
    }
    .swap-group{
        display: flex;
        align-items: center;
        @media #{$max-sm}{
            flex-direction: column;
            justify-content: center;
        }
        .swap-coin {
            flex: 1;
            @media #{$max-sm}{
                flex: 0 0 auto;
                width: 100%;
            }
        }
        .exch-coins {
            border: 1px solid rgba(255,255,255, 0.9);
            border-radius: 30px;
            padding: 8px 12px;
        }
        .exch-icon {
            width: 60px;
            text-align: center;
            margin: 0 auto;
            @media #{$max-sm}{
                margin: 18px auto;
            }
            img{
                margin: 0 auto;
                @media #{$max-sm}{
                    transform: rotate(90deg);
                }
            }
        }
    }
}
.qr-code{
    padding: 0 0 40px;
    display: flex;
    justify-content: center;
    @media #{$max-sm}{
        padding: 0 0 30px;
    }
    @media #{$max-xxsm}{
        margin: 0 -10px;
    }
}
.word-wrap{
    word-break: break-all   ;
}