.bottom-pad {
    padding-bottom: 70px;
    @media #{$max-xl}{
        padding-bottom: 60px;
    }
    @media #{$max-lg}{
        padding-bottom: 50px;
    }
    @media #{$max-md}{
        padding-bottom: 40px;
    }
    @media #{$max-sm}{
        padding-bottom: 30px;
    }
}

.top-pad{
    padding-top: 70px;
    @media #{$max-xl}{
        padding-top: 60px;
    }
    @media #{$max-lg}{
        padding-top: 50px;
    }
    @media #{$max-md}{
        padding-top: 40px;
    }
    @media #{$max-sm}{
        padding-top: 30px;
    }
}
.grid-pad {
    padding-bottom: calc(70px - 20px);
    @media #{$max-xl}{
        padding-bottom:calc(60px - 20px);
    }
    @media #{$max-lg}{
        padding-bottom:calc(50px - 20px);
    }
    @media #{$max-md}{
        padding-bottom: calc(40px - 20px);
    }
    @media #{$max-sm}{
        padding-bottom: calc(30px - 20px);
    }
}

// common space closed
.heading {
    margin-bottom: 21px;
}
.cus-card {
    padding: 15px;
    background: $secondary;
    border: 1px solid $body-text;
    box-shadow: 3px 4px 14px $secondary;
    border-radius: 25px;
}
.primry-gradient-text {
    background: linear-gradient(180deg, #F06500 0%, #F28B03 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
