@import '../../scss/core/cus-var';
@import '../../scss/core/reset';
@import '../../scss/core/header';
@import '../../scss/core/sidebar';
@import '../../scss/core/footer';
@import '../../scss/core/dashboard';
@import '../../scss/core/bone-staking';
@import '../../scss/core/faucet';
@import '../../scss/core/all-validator';
@import '../../scss/core/withdraw';
@import '../../scss/core/swap-token';
@import '../../scss/core/how-it-works';
@import '../../scss/pages/validator-details';
@import '../../scss/core/delegator-validator';
@import '../../scss/core/common.scss';

