.faucet-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 76px);
    margin-top: 76px;
}
.black-sel{
    .form-select{
        background: $body-bg;
        color: $white;
        padding: 15px 20px;
        border: 0;
    }
    .cus-sel{
        position: relative;
    }
}

.form-section {
    max-width: 650px;
    margin: 0 auto;
}