.status-sec {
    padding: 38px 15px;
    text-align: center;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    img{
        @media #{$max-xxl}{
            width: 190px;
        }
        @media #{$max-lg}{
            width: 100px;
        }
        @media #{$max-md}{
            width: 150px;
        }
    }
    .img-size-succ {
    img {
        @media #{$max-lg}{
            width: 140px;
        }
    }
}
}

.butns-sec{
    .primary-btn{
        background: $body-bg-800;
        color: $white;
        padding: 15px;
        &:hover{
            background: $primary-gradient;  
        }
    }
}
.down_arrow{
    text-align: center;
    margin-bottom: 30px;
    img{
        margin: 0 auto;
        margin-top: 20px;
    }
}