.status-sec {
    padding: 25px 15px;
    text-align: center;
    margin-top: 10px;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    img{
        @media #{$max-lg}{
            width: 100px;
        }
        @media #{$max-md}{
            width: 70px;
        }
    }
}
.btns-sec{
    .primary-btn{
        background: $body-bg-800;
        color: $white;
        font-size: 16px;
        padding: 15px;
        &:hover{
            background: $primary-gradient;  
        }
    }
}
.staus-btn{
    .btn{
        font-size: 16px;
    }
}